<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Some thing wrong</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Back to home</h1>
            <a class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary" href="/"> Click</a>
        </div>
        <div class="w-1/2">
            <img src="/img/404.png" alt="">
        </div>
    </div>
</section>